html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
}

form {
    margin: auto;
}

form input {
    margin: 1em auto;
    display: block;
}
